@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using MyGovCMS.Core.Helpers
@{
    /**/

    var currentNode = Model.AncestorOrSelf();
    //var articlesParent = rootNode.Children("dArticlesMain").FirstOrDefault();
    var reportslist = currentNode.Descendants<Advertisement>().FirstOrDefault();
    var reports = currentNode.Descendants<Advertisement>().Where(x => x.IsVisible()).OrderByDescending(y => y.Date);
    //var reports = Model.Root().Descendants().Where(x => x.ContentType.Alias == "reports" && x.IsVisible());
    var isReportListPage = currentNode.Id == Model.Id;
    var fallbackPageSize = isReportListPage ? 10 : 6;
    var pageNumber = QueryStringHelper.GetIntFromQueryString(Request, "page", 1);
    var pageSize = QueryStringHelper.GetIntFromQueryString(Request, "size", fallbackPageSize);
    var pageOfReports = reports.Skip((pageNumber - 1) * pageSize).Take(pageSize);
    var totalItemCount = reports.Count();
    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;
}

@if (reports != null && reports.Any())
{
    <div class="row mb-2">
        <div class="row">
            @foreach (var report in pageOfReports)
            {
                if (pageOfReports.Count() == 1)
                {
                    <div class="col-md-12">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">@Model.Name</strong>
                                <h4 class="mb-0 font-weight-bold">
                                    <a class="text-dark" href="@report.Url">
                                        @(!string.IsNullOrWhiteSpace(report.HeaderTitle) ? report.HeaderTitle : report.Name)

                                    </a>
                                </h4>
                                <div class="mb-1 text-muted">@report.Date.ToString("MMMM dd, yyyy")</div>
                                <p class="card-text mb-auto">
                                    @if (!string.IsNullOrWhiteSpace(report.HeaderSubtitle))
                                    {
                                        @report.HeaderSubtitle
                                    }
                                </p>
                                <a href="@report.Url">Continue reading...</a>
                            </div>
                            @if (report.MainImage != null)
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="mainimage" style="width: 200px; height: 250px;" src="@report.MainImage.GetCropUrl(200,250)" data-holder-rendered="true">
                            }
                            else
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="mainimage" style="width: 200px; height: 250px;" src="~/assets/img/copy.svg" data-holder-rendered="true">
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">@Model.Name</strong>
                                <h4 class="mb-0 font-weight-bold">
                                    <a class="text-dark" href="@report.Url">
                                        @(!string.IsNullOrWhiteSpace(report.HeaderTitle) ? report.HeaderTitle : report.Name)

                                    </a>
                                </h4>
                                <div class="mb-1 text-muted">@report.Date.ToString("MMMM dd, yyyy")</div>
                                <p class="card-text mb-auto">
                                    @if (!string.IsNullOrWhiteSpace(report.HeaderSubtitle))
                                    {
                                        @report.HeaderSubtitle
                                    }
                                </p>
                                <a href="@report.Url">Continue reading...</a>
                            </div>
                            @if (report.MainImage != null)
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="mainimage" style="width: 200px; height: 250px;" src="@report.MainImage.GetCropUrl(200,250)" data-holder-rendered="true">
                            }
                            else
                            {




                             
                                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="mainimage" style="width: 200px; height: 250px;" src="~/assets/img/copy.svg" data-holder-rendered="true">
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div id="paging" class="clearfix">
        @if (isReportListPage)
        {
            if (pageCount > 1)
            {
                <div class="paging-block">
                    @if (pageNumber > 1)
                    {
                        { pageNumber = pageNumber - 1; }
                        <a class="btn btn-primary float-left mt-3" href="@currentNode.Url()?page=@pageNumber&size=@pageSize">Prev</a>
                    }
                    else
                    {
                        @Html.Raw("&nbsp;")
                    }
                </div>
                <div class="paging-block text-center">
                    <span>Page @pageNumber of @pageCount</span>
                </div>
                <div class="paging-block">
                    @if (pageNumber < pageCount)
                    {
                        { pageNumber = pageNumber + 1; }
                        <a class="btn btn-primary float-right" href="@currentNode.Url()?page=@pageNumber&size=@pageSize">Next</a>
                    }
                    else
                    {
                        @Html.Raw("&nbsp;")
                    }
                </div>

            }
        }
        else
        {
            <a class="btn btn-primary float-right" href="@(currentNode.Url())">@Umbraco.GetDictionaryValue("ReportsList.ViewAll")</a>
        }
    </div>

}