@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using MyGovCMS.Core.Helpers
@{

    var currentNode = Model.AncestorOrSelf();
    //var articlesParent = rootNode.Children("dArticlesMain").FirstOrDefault();
    var circularlists = currentNode.Descendants<CircularList>().FirstOrDefault();
    var circulars = currentNode.Descendants<Circulars>().Where(x => x.IsVisible()).OrderByDescending(y => y.Date);
    //var reports = Model.Root().Descendants().Where(x => x.ContentType.Alias == "reports" && x.IsVisible());
    var isCircularListPage = currentNode.Id == Model.Id;
    var fallbackPageSize = isCircularListPage ? 10 : 5;
    var pageNumber = QueryStringHelper.GetIntFromQueryString(Request, "page", 1);
    var pageSize = QueryStringHelper.GetIntFromQueryString(Request, "size", fallbackPageSize);
    var pageOfReports = circulars.Skip((pageNumber - 1) * pageSize).Take(pageSize);
    var totalItemCount = circulars.Count();
    var pageCount = totalItemCount > 0 ? Math.Ceiling((double)totalItemCount / pageSize) : 1;
    var pageNo = pageNumber;
}


<div class="document-page document-list-page">
    <div class="c-content-box">
        @if (circulars != null && circulars.Any())
        {
            <ul class="document-list m-has-icons">
                @foreach (var report in pageOfReports)
                {
                    <!-- DOCUMENT : begin -->
                    <li class="document">
                        <div class="document-inner">
                            @if (report.HasProperty("UploadFile"))
                            {
                                if (report.HasValue("UploadFile"))
                                {
                                    string filetype = "";
                                    if (@report.UploadFile.Url().Contains(".pdf"))
                                    {
                                        filetype = ".pdf";
                                    }
                                    else if (@report.UploadFile.Url().Contains(".doc"))
                                    {
                                        filetype = ".doc";
                                    }
                                    else if (@report.UploadFile.Url().Contains(".xls"))
                                    {
                                        filetype = ".xls";
                                    }
                                    else if (@report.UploadFile.Url().Contains(".jpg"))
                                    {
                                        filetype = ".jpg";
                                    }
                                    else if (@report.UploadFile.Url().Contains(".jpeg"))
                                    {
                                        filetype = ".jpg";
                                    }
                                    else if (@report.UploadFile.Url().Contains(".png"))
                                    {
                                        filetype = ".png";
                                    }

                                    <h4 class="document-title m-has-icon">
                                        @if (filetype == ".pdf")
                                        {
                                            <span class="document-icon" title="PDF File"><i class="fa fa-file-pdf-o"></i></span>
                                        }
                                        else if (filetype == ".doc" || filetype == ".docx")
                                        {
                                            <span class="document-icon" title="Doc File"><i class="fa fa-file-word-o"></i></span>
                                        }
                                        else if (filetype == ".xls" || filetype == ".csv" || filetype == ".xlsx")
                                        {
                                            <span class="document-icon" title="xls File"><i class="fa fa-file-excel-o"></i></span>
                                        }
                                        else if (filetype == ".jpg" || filetype == ".jpeg" || filetype == ".png")
                                        {
                                            <span class="document-icon" title="image File"><i class="fa fa-file-image-o"></i></span>
                                        }
                                        else
                                        {
                                            <span class="document-icon" title="image File"><i class="fa fa-file-image-o"></i></span>
                                        }
                                        @*<a href="@report.UploadFile.MediaUrl()" target="_blank">@report.HeaderTitle</a>*@
                                        <a href="@report.UploadFile.Url()" target="_blank">@report.HeaderTitle </a>
                                        <span class="document-filesize"></span>
                                    </h4>
                                    <div class="document-info">
                                        <ul>
                                            <li class="document-date">Upload date: <span>@report.CreateDate.ToString("MMMM dd, yyyy")</span></li>
                                        </ul>
                                    </div>
                                }
                            }

                        </div>
                    </li>
                    <!-- DOCUMENT : end -->
                }
            </ul>
        }
    </div>
</div>
@if (isCircularListPage)
{
    if (pageCount > 1)
    {
        <div class="text-right">Showing @pageSize per page</div>
        <div class="c-pagination">

            <ul>
                <li>
                    @if (pageNumber > 1)
                    {
                        { pageNo = pageNumber - 1; }
                        <a class="btn btn-primary float-left" href="@currentNode.Url()?page=@pageNo&size=@pageSize"><i class="fa fa-arrow-left"></i> Prev</a>
                    }
                    else
                    {
                        <span class="disabled">Prev</span>
                    }
                </li>
                <li> <span class="text-primary">Page @pageNumber of @pageCount</span></li>
                <li>
                    @if (pageNumber < pageCount)
                    {
                        { pageNo = pageNumber + 1; }
                        <a class="btn btn-primary float-right" href="@currentNode.Url()?page=@pageNo &size=@pageSize">Next <i class="fa fa-arrow-right"></i></a>
                    }
                    else
                    {
                        <span class="disabled">Next</span>
                    }
                </li>
            </ul>
        </div>

    }
}
else
{
    <a class="btn btn-primary float-right" href="@(currentNode.Url())">@Umbraco.GetDictionaryValue("ReportsList.ViewAll")</a>
}
